@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat/static/Montserrat-Black.ttf) format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat/static/Montserrat-Bold.ttf) format('truetype');
  font-weight: bold;
}

@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat/static/Montserrat-ExtraBold.ttf) format('truetype');
  font-weight: bolder;
}

@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat/static/Montserrat-ExtraLightItalic.ttf) format('truetype');
  font-weight: 100;
}

@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat/static/Montserrat-Italic.ttf) format('truetype');
  font-weight: Italic;
}

@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto/Roboto-LightItalic.ttf) format('truetype');
  font-weight: lighter;
}

@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto/Roboto-Black.ttf) format('truetype');
  font-weight: normal;
}
