.link-container {
  height: 75vh;
  background-color: #F9FAF8;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.link-image {
  height: 500px;
  width: auto;
  padding: 50px;
  display: flex;
}

#linked-image {
  border-radius: 15px;
}
