.link-container {
  height: 55vh;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 120px;
  padding: 30px;
  z-index: -99;
}

.link-image {
  height: 500px;
  width: auto;
  padding: 50px;
  display: flex;
  background-color: transparent;
}

#linked-image {
  border-radius: 15px;
}

.link-text {
  color: #1F2937;
}

#myVideo {
  height: 100vh;
  width: 100vw;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

#video-text {
  color: #F9FAF8;
}
